@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Arial, Verdana, sans-serif;
    --fonte2: 'Passion One', sans-serif;
    --fonte3: 'Sriracha', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}  

html, body {
    min-height: 100vh;
    background-color: #323232;
    font-family: var(--fonte1);
}

header {
    background-color: #121212;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 5vw;
}

header p {
    padding-bottom: 50px;
    font-size: 2vw;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: #121212;
}

section.imagem {
    background-color: #525252;
    color: white;
    box-shadow: inset 6px 6px 13px 0px #1212128e;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem p {
    background-color: #12121275;
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px #121212;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}

footer {
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 10px;
}